<hr class="border border-secundary border-1 opacity-50 mx-5">
<div class="container-fluid p-5">
    <h2>Contact</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis dolorem magni ullam odit facilis dolor.
        Voluptas doloribus sint alias dolore beatae! Unde quo consectetur, vel sequi exercitationem consequuntur sunt
        modi?</p>
    <div class="container px-5 p-2">
        <form action="#" class="bg-light mx-5 p-3 border rounded">
            <div class="mb-3 row">
                <label for="email" class="col-sm-3 col-form-label text-end fw-bold">Your E-mail</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="message" class="col-sm-3 col-form-label text-end fw-bold">Your message</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="message" rows="4"></textarea>
                </div>
            </div>
            <div class="mb-3 row text-end">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
            </div>
        </form>
    </div>