<!-- your html code here -->
<div class="row g-0 bg-white">
    <div class="col-md-8">
        <div class="card-body">
            <h2 class="card-title">This First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
            <p class="card-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismoo semoer erdesen commooo cursus maone ve scelensoue nisi consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
    </div>
	<div class="col-md-4">
    </div>
    <img src="https://estaticos-cdn.prensaiberica.es/clip/823f515c-8143-4044-8f13-85ea1ef58f3a_16-9-discover-aspect-ratio_default_0.jpg" class="img-fluid" alt="ilustration_men">
</div>
