<!-- your html code here -->

<div class="row bg-white p-5">
    <hr class="border border-secundary border-1 opacity-50 mb-5">
    <div class="col-md-8">
        <div class="card-body">
            <h2 class="card-title">This First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
            <p class="card-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismoo semoer erdesen commooo cursus maone ve scelensoue nisi consectetur. Fusce dapibus, tellus ac
                cursus commodo.</p>
        </div>
    </div>
    <div class="col-md-4">
        <img src="./assets/img/1.jpg" class="img-fluid rounded-circle" alt="ilustration_men">
    </div>
</div>