<!-- your html code here -->
<div class="row g-0 bg-white p-5">
    <hr class="border border-secundary border-1 opacity-50">
    <div class="col-md-4">
        <img src="assets/img/2.jpg" class="img-fluid rounded-circle" alt="typing on">
    </div>
    <div class="col-md-8">
        <div class="mx-auto" style="padding: 30px;">
            <h2>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h2>
            <p>The Second Heading Is Pretty Cool Too. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum
                id ligula porta felis euismod semper. Present commodo cursus magna, vel scelerisque nisl
                consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
    </div>
</div>
